*
####################
# ProgrammingTest3 #
####################

!ProgrammingTest3.sln

!.gitignore
!README.md

!Data/
!Data/*
!Data/Context/**
!Data/Interfaces/**
!Data/Model/**

!Backend/
!Backend/*
!Backend/Controllers/**
!Backend/Properties/**
